$color_background:   #282A36;
$color_current_line: #44475A;
$color_foreground:   #F8F8F2;
$color_comment:      #6272A4;
$color_cyan:         #8BE9FD;
$color_green:        #50FA7B;
$color_orange:       #FFB86C;
$color_pink:         #FF79C6;
$color_purple:       #BD93F9;
$color_red:          #FF5555;
$color_yellow:       #F1FA8C;

