$color_background:   #FFF5F9;
$color_current_line: #FFD5E8;
$color_foreground:   #FF78B5;
$color_comment:      #FFE3F0;
$color_cyan:         #FF33CF;
$color_green:        #B35CFF;
$color_orange:       #7700FF;
$color_pink:         #F0C7D9;
$color_purple:       #5F3954;
$color_red:          #FF0051;
$color_yellow:       #FF4F81;

