* {
	outline: none;
	border: none;
}

window {
	background: none;
}

button {
	background-size: 25%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #282a36;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 50%;
	border: 4px solid #bd93f9;
}

button:focus,
button:active,
button:hover {
	background-color: #bd93f9;
}

#shutdown,
#reboot {
	margin-right: 30px;
	margin-left: 440px;
}

#lock,
#logout {
	margin-left: 30px;
	margin-right: 440px;
}

#shutdown {
	background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));

}

#logout {
	background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#reboot {
	background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#lock {
	background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}