* {
    outline: none;
    border: none;
}

window {
    background: none;
}

#outer-box {
    background: none;
}

#input {
    background-color: #44475a;
    color: #f8f8f2;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
    min-height: 60px;
}

#scroll {
    background: none;
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

#inner-box {
    background: none;
}

#img {
    padding-left: 15px;
    background: none;
}

#text {
    font-size: 18px;
    padding-left: 8px;
    color: #f8f8f2;
}

#text:selected {
    color: #44475a;
    font-weight: bolder;
    font-size: 20px;
    background: none;
}

#entry {
    min-height: 60px;
}

#entry:selected {
    background-color: #50fa7b;
    border-radius: 45px;
}