text-color=$color_foreground
font=monospace 14
border-size=2
border-radius=15
width=450
height=200
margin=0,0,0,0
default-timeout=10000
progress-color=over $color_green
background-color=$color_background
border-color=$color_purple

[urgency=low]
default-timeout=5000

[urgency=critical]
background-color=$color_red
border-color=$color_orange
default-timeout=0
