* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 18px;
    font-weight: bold;
    color: #f8f8f2;
}

window#waybar {
    background: none;
}

tooltip {
    background: #282a36;
    opacity: 0.8;
    border-radius: 15px;
    border: 2px solid #bd93f9;
}

#workspaces button {
    margin-left: 0px;
    margin-right: 10px;
    min-width: 15px;
}

#workspaces button.urgent {
    background: #ff5555;
    border-radius: 20px;
}

#workspaces button:hover {
    background: #ff79c6;
    border-radius: 20px;
}

#custom-nice-icon,
#custom-power_btn,
#window,
#cpu,
#disk,
#memory,
#clock,
#pulseaudio,
#tray,
#temperature,
#workspaces,
#network,
#bluetooth {
    background: #282a36;
    opacity: 0.9;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#clock,
#custom-nice-icon,
#network,
#cpu {
    border-radius: 15px 0px 0px 15px;
}

#custom-power_btn,
#workspaces,
#pulseaudio,
#disk {
    border-radius: 0px 15px 15px 0px;
    margin-right: 10px;
}

#temperature.critical {
    color: #ff5555;
}


#workspaces {
    padding-right: 0px;
    padding-left: 0px;
}

#tray,
#window {
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 20px;
}

#custom-nice-icon {
    color: #8be9fd;
    margin-left: 10px;
    border-right: 0px;
}

#pulseaudio {
    color: #50fa7b;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #8be9fd;
}

#network {
    color: #f1fa8c;
}

#clock {
    padding-left: 15px;
    padding-right: 0px;
}